# Top-Most EditorConfig file
root = true

# Custom style for every code file
[*.cs]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = false
tab_width = 4




#                                                                                #
#        Dragon Resonance                           Copyright © 2022-2025        #
#        2024.11.25.0                                 All rights reserved        #
#                                                                                #