# General
/[Bb]uilds/

# ParrelSync
/*_[Cc]lone_[0-9]*/




#                                                                                #
#        Dragon Resonance                           Copyright © 2022-2025        #
#        2025.04.28.0                                 All rights reserved        #
#                                                                                #